body {
    background-color: black;
    color: white;
    font-family: verdana;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

p {
    margin-top: 50px;
    margin-bottom: 50px;
}

.number {
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    font-size: 10px;
}

ul {
    display: inline;
    padding-left: 0px
}

table, th, td {
    border: 1px solid;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}